.hero {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.top {
  display: flex;
}

.picture {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  position: relative;
}

.school1 {
  height: 325px;
  width: 390px;
  margin-left: ;
}
.school2 {
  height: 385px;
  width: 462px;
  margin-left: 70px;
  margin-top: 20px;
  /* z-index: 999; */
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  position: relative;
}

.school3 {
  height: 342px;
  width: 411px;
  margin-left: -150px;
  margin-top: -33px;
  /* z-index: 999; */
}
.school4 {
  height: 342px;
  width: 411px;
  margin-left: 0;
  margin-top: 20px;
}

.text {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 71px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 50px;
  margin-left: -100px;
  margin-bottom: 0;
  color: #305c49;
}

.para {
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #939496;
  margin-top: 12px;
  margin-left: -100px;
  margin-right: 40px;
}

.btn {
  height: 60px;
  width: 300px;
  background-color: #305c49;
  color: #939496;

  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  margin-left: 70px;
  margin-top: 30px;
  border-radius: 40px 0 40px 0;
  cursor: pointer;
}

.bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 321px;
  margin-top: 180px;
}

.bottonOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 25%;
  background-color: #ff7c7c;
  height: 100%;
}

.circleOne {
  background-color: #ff7c7c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  margin-top: -100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.bottonTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 25%;
  height: 100%;
  background: #ffe973;
}

.circleTwo {
  background-color: #ffe973;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  margin-top: -140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.bottonThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 25%;
  height: 100%;
  background: #adff6c;
}

.circleThree {
  background-color: #adff6c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  margin-top: -140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.bottonFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex: 25%;
  background: #78ffff;
}

.circleFour {
  background-color: #78ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  margin-top: -140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headingTwo {
  display: flex;
  align-items: center;
  color: #262626;
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 290px;
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: capitalize;
}

.paraNew {
  display: flex;
  align-items: center;
  max-width: 290px;
  color: #262626;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
}

.mobileHero {
  display: none;
}

@media screen and (max-width: 1360px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .top {
    display: flex;
  }

  .picture {
    display: flex;
  }

  .left {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    position: relative;
  }

  .school1 {
    height: 250px;
    width: 320px;
    margin-left: 0;
  }
  .school2 {
    height: 250px;
    width: 322px;
    margin-left: 25px;
    margin-top: 20px;
    /* z-index: 999; */
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
  }

  .school3 {
    height: 250px;
    width: 320px;
    margin-left: -37px;
    margin-top: -33px;
    /* z-index: 999; */
  }
  .school4 {
    height: 250px;
    width: 320px;
    margin-left: -7px;
    margin-top: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-size: 55px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 60px;
    margin-left: -3px;
    margin-bottom: 0;
    color: #305c49;
  }

  .para {
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #939496;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 0;
  }

  .btn {
    height: 60px;
    width: 260px;
    background-color: #305c49;
    color: #939496;

    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.01em;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 40px 0 40px 0;
    cursor: pointer;
  }

  .bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 180px;
  }

  .bottonOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 25%;
    background-color: #ff7c7c;
    height: 100%;
  }

  .circleOne {
    background-color: #ff7c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-top: -100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .bottonTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 25%;
    height: 100%;
    background: #ffe973;
  }

  .circleTwo {
    background-color: #ffe973;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-top: -190px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .bottonThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 25%;
    height: 100%;
    background: #adff6c;
  }

  .circleThree {
    background-color: #adff6c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-top: -157px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .bottonFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex: 25%;
    background: #78ffff;
  }

  .circleFour {
    background-color: #78ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-top: -157px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .headingTwo {
    display: flex;
    align-items: center;
    color: #262626;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 290px;
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: capitalize;
    padding: 0 10px;
    text-align: center;
  }

  .paraNew {
    display: flex;
    align-items: center;
    max-width: 290px;
    color: #262626;
    font-size: 20px;
    padding: 0 10px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .mobileHero {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .top {
    display: flex;
  }

  .picture {
    display: flex;
  }

  .left {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    position: relative;
  }

  .school1 {
    height: 170px;
    width: 250px;
    margin-left: 0;
  }
  .school2 {
    height: 170px;
    width: 252px;
    margin-left: 25px;
    margin-top: 20px;
    /* z-index: 999; */
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
  }

  .school3 {
    height: 170px;
    width: 250px;
    margin-left: -37px;
    margin-top: -33px;
    /* z-index: 999; */
  }
  .school4 {
    height: 170px;
    width: 250px;
    margin-left: -7px;
    margin-top: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 30px;
    margin-left: -3px;
    margin-bottom: 0;
    color: #305c49;
  }

  .para {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #939496;
    margin-top: 12px;
    margin-left: 14px;
    margin-right: 0;
  }

  .btn {
    height: 40px;
    width: 160px;
    background-color: #305c49;
    color: #939496;

    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.01em;
    margin-left: 20px;
    margin-top: 0;
    border-radius: 40px 0 40px 0;
    cursor: pointer;
  }

  .bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 321px;
    margin-top: 100px;
  }

  .bottonOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 25%;
    background-color: #ff7c7c;
    height: 100%;
  }

  .circleOne {
    background-color: #ff7c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    margin-top: -82px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .circleOne > img {
    width: 60px;
    height: 60px;
  }

  .bottonTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 25%;
    height: 100%;
    background: #ffe973;
  }

  .circleTwo {
    background-color: #ffe973;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    margin-top: -120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .circleTwo > img {
    width: 60px;
    height: 60px;
  }

  .bottonThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 25%;
    height: 100%;
    background: #adff6c;
  }

  .circleThree {
    background-color: #adff6c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    margin-top: -120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .circleThree > img {
    width: 60px;
    height: 60px;
  }

  .bottonFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex: 25%;
    background: #78ffff;
  }

  .circleFour {
    background-color: #78ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    margin-top: -120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .circleFour > img {
    width: 60px;
    height: 60px;
  }

  .headingTwo {
    display: flex;
    align-items: center;
    color: #262626;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: capitalize;
  }

  .paraNew {
    display: flex;
    align-items: center;
    max-width: 290px;
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 10px;
  }

  .mobileHero {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .hero {
    display: none;
  }

  .mobileHero {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 10px;
  }

  .mobileheroTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mbl_logo {
    width: 130px;
    height: 102px;
  }

  .mbl_logo_img {
    width: 100%;
    height: 100%;
  }

  .mbl_title {
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 10px;
    color: #305c49;
    margin-bottom: 10px;
    text-align: center;
  }

  .mbl_disc {
    font-size: 17px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #305c49;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .mbl_contect {
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #305c49;
  }

  .mblBtm {
    width: 100%;
    height: 100%;
  }

  .swiperSlide {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .swiperSlide > img {
    width: 100%;
    max-width: 370px;
  }
}
