.mainHeader {
  position: sticky;
  width: 75%;
  margin-left: 140px;
  margin-right: auto;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 35px;
  background-color: #305c49;
  border-radius: 60px;
}

.leftHeader {
  display: flex;
  flex: 8;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  color: #939496;
  margin-right: 200px;
}

.leftMobileHeader {
  display: none;
}

.leftHeader > li {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: left;
}
.leftHeader > li:hover {
  color: #ff7c7c;
  cursor: pointer;
}

.rightHeader {
  display: flex;
  flex: 2;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.rightHeader > a {
  width: 30px;
  height: 30px;
}
.rightHeader > a:hover {
  color: #ff7c7c;
  cursor: pointer;
}

.mobileMain {
  display: none;
}

@media screen and (max-width: 1224px) {
  .mainHeader {
    position: sticky;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: #305c49;
    border-radius: 60px;
  }

  .leftHeader {
    display: flex;
    flex: 10;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    color: #939496;
    margin-right: 30px;
  }

  .leftMobileHeader {
    display: none;
  }

  .leftHeader > li {
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .leftHeader > li:hover {
    color: #ff7c7c;
    cursor: pointer;
  }

  .rightHeader {
    display: flex;
    flex: 2;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
  }

  .rightHeader > a {
    width: 25px;
    height: 25px;
  }
  .rightHeader > a:hover {
    color: #ff7c7c;
    cursor: pointer;
  }

  .mobileMain {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .mainHeader {
    position: sticky;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    background-color: #305c49;
    border-radius: 60px;
  }

  .leftHeader {
    display: flex;
    flex: 9;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    color: #939496;
    margin-right: 30px;
  }

  .leftMobileHeader {
    display: none;
  }

  .leftHeader > li {
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .leftHeader > li:hover {
    color: #ff7c7c;
    cursor: pointer;
  }

  .rightHeader {
    display: flex;
    flex: 2;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
  }

  .rightHeader > a {
    width: 25px;
    height: 25px;
  }
  .rightHeader > a:hover {
    color: #ff7c7c;
    cursor: pointer;
  }

  .mobileMain {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .mainHeader {
    display: none;
  }

  .mobileMain {
    display: block;
    position: relative;
    z-index: 999;
  }

  .mobileMenuLogo {
    top: -35px;
    right: 10px;
    position: absolute;
    color: #305c49;
  }

  .mobileMenu {
    top: -12px;
    right: 40px;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 17px;
    background-color: #305c49;
    color: #939496;
    padding: 17px 20px;
    border-radius: 5px;
  }

  .mobileMenu > li:hover {
    color: #305c49;
    background-color: #939496;
    border-radius: 5px;
    padding: 5px 4px;
  }
  .noMobileMenu {
    display: none;
  }
}
